<%- include('./header.ejs')  %>
<!-- slider start -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            
            <% s.forEach((item)=>{ %>
        
                <div class="carousel-item active">
                    <img src="<%= item.image.url %>" class="d-block w-100" style="height: 550px;" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>
                            <%= item.tittle %>
                        </h1>
                        <p style="font-size: 25px;">
                            Find the best school                
                        </p>
                    </div>
                </div>
            <% }) %>
              
                
              
                
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!-- slider end -->

<!-- search start -->
    <div class="container-fluid bg-secondary mb-5" style="padding: 30px;">
        <div class="container">
            <form action="" method="post">
                <div class="row g-2">
                    <div class="col-md-12">
                        <div class="row g-2">
                            <div class="col-md-10">
                                <input type="text" name="search" placeholder="Search By City Location" class="form-control py-3 text-center">
                            </div>
                            <div class="col-md-2">
                                <a href="">
                                    <button class="btn btn-danger border-0 w-100 py-3">Search</button>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>
            </form>
        </div>

    </div>
<!-- search end -->

<div class="mt-5 text-center">
    <h1>Scientific Approach of Finding Best School</h1>
    <p>Experience the Power of Data Analysis</p>
</div>




<div class="container ">
    <div class="row ">
        <% c.forEach((item)=>{ %>
        
            <div class="col-md-4 text-center mb-5 ">
                <a href="/school_list/<%= item.name %>" class="text-decoration-none">
                    <div class="box">
                        <img src="<%= item.image.url %>" class="image w-100" alt="">
                    </div>
                    <h3 class="ab animate__heartBeat">
                        <%= item.name %>
                    </h3>
                </a>
            </div>

            <% }) %>
            

    </div>
    <!--row end-->
</div>
<%- include('./footer.ejs')    %>