<%- include('../header.ejs') %>
    <%- include('../sidebar.ejs') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Edit Slider</h3>
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body mx-auto" style="width: 500px;">
                    <form action="/admin/sliderupdate/<%= d._id %>" method="post" enctype="multipart/form-data">
                        
                       
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" name="image" class="form-control">
                        </div>
                        <img src="<%= d.image.url %>" width="100" style="border-radius: 50px;">
                        <br><br>




                        <button class="btn btn-success">Update</button>
                    </form>
                </div>
                <!-- /.card-body -->


                <!-- modal start add school -->
                
                <!-- /.modal end -->
            </div>
            <!-- /.card -->



        </div>
        <!-- /.content-wrapper -->


        <%- include('../footer.ejs') %>