<%- include('../header.ejs') %>
    <%- include('../sidebar.ejs') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">View Slider</h3>
                   
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                          
                                <tr>
                                    <td><%= d._id %></td>
                                    <td><img src="<%= d.image.url %>" width="100"></td>
                                   
                                </tr>

                            


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->


                <!-- modal start add school -->
              
                <!-- /.modal end -->
            </div>
            <!-- /.card -->



        </div>
        <!-- /.content-wrapper -->

        <%- include('../footer.ejs') %>