<%-include("../header.ejs") %>
<%-include("../sidebar.ejs") %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- /.card start -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">View Category list</h3>
       
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Affilatedboard</th>
            <th>InstructionMedium</th>
            <th>Category</th>
            <th>SchoolAddress</th>
            <th>PhoneNumber</th>
            <th>Image</th>
           
           
          </tr>
          </thead>
          <tbody>
           
 
          <tr>
            <td> <%= d._id %></td>
            <td> <%= d.name %></td>
            <td> <%= d.description %></td>
            <td> <%= d.affilatedboard %></td>
            <td> <%= d.instructionMedium %></td>
            <td> <%= d.category %></td>
            <td> <%= d.schoolAddress %></td>
            <td> <%= d.phoneNumber %></td>
            <td><img src="<%= d.image.url %>" width="100"></td>
           
          </tr>

      
          </tbody>

        </table>
      </div>
     
    </div>
  
    <!-- /.card -->
    </div>
  </div>
  
  
    
    <!-- /.content-wrapper -->
  </div>



 

  <%-include("../footer.ejs") %>